<div class="panel panel-default">
    <div class="panel-heading">Add Application</div>
    <div class="panel-body">
        <div class="form-horizontal">            
                <div ng-include="fieldsUrl"></div>            
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <button type="button" class="btn" ng-click="refresh()">Cancel</button>
                <button type="button" class="btn btn-primary active" ng-click="addSave()">Save</button>
            </div>
        </div>
    </div>
</div>