<div class="form-group">
    <label for="key" class="col-lg-2 control-label">Key</label>
    <div class="col-lg-4">
        <input type="text" class="form-control" 
               name="key" id="key" 
               placeholder="something like 'vs' or '2012' for Visual Studio 2012"
               ng-model="detail.key" 
               server-error ="detail.errors"  maxlength='128' />
    </div>       
</div>

<div class="form-group">
    <label for="fullPath" class="col-lg-2 control-label">Full Path</label>
    <div class="col-lg-4">
        <input type="text" class="form-control" 
               name="fullPath" id="fullPath" 
               placeholder="Full Path to Application"
               ng-model="detail.fullPath" 
               server-error ="detail.errors"  maxlength='128' />
    </div>       
</div>

<div class="form-group">
    <label for="arguments" class="col-lg-2 control-label">Arguments</label>
    <div class="col-lg-4">
        <input type="text" class="form-control" 
               name="arguments" id="arguments" 
               placeholder="Command Line Arguments"
               ng-model="detail.arguments" 
               server-error ="detail.errors"  maxlength='128' />
    </div>       
</div>

<div class="form-group">
    <label for="requiresAdmin" class="col-lg-2 control-label">Requires Admin</label>
    <div class="col-lg-1">
        <input type="checkbox" class="form-control" 
               name="requiresAdmin" id="requiresAdmin" 
               placeholder="Requires Admin"
               ng-model="detail.requiresAdmin" 
               server-error ="detail.errors"  maxlength='128' />
    </div>       
</div>

<div class="form-group">
    <label for="urlEncodeArguments" class="col-lg-2 control-label">Url Encode Arguments</label>
    <div class="col-lg-1">
        <input type="checkbox" class="form-control" 
               name="urlEncodeArguments" id="urlEncodeArguments" 
               placeholder="Url Encode Arguments"
               ng-model="detail.urlEncodeArguments" 
               server-error ="detail.errors" />
    </div>       
</div>


