<!doctype html>
<html lang="en" ng-app="app" ng-strict-di>
    <head>
        <title>String Replicator</title>
        <meta http-equiv="x-ua-compatible" content="IE=Edge" />
        <link rel="stylesheet" href="css/bootstrap.dark.css" />
        <link rel="stylesheet" href="app/app.css" />
        <link rel="stylesheet" href="app/voodoo/voodoo.css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/icon">
        <link rel="icon" href="/favicon.ico" type="image/icon">
    </head>
    <body ng-controller="string">
        <a href="https://github.com/MiniverCheevy/string-replicator" target="_blank" title="source code" class="github">
            <img src="./css/github.png" ></img>
        </a>
        <h2>String Replicator</h2>
        <span ng-cloak class="ng-cloak text-danger">{{error}}</span>
        <span ng-cloak class="ng-cloak text-info">{{info}}</span>   
        <form name="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">CSV Data</h3>
                </div>
                <div class="panel-body" >
                    <div class="row">                
                        <div class="col-md-8">
                            <textarea class="form-control" rows="5"
                                      name="dataString" id="dataString"
                                      placeholder="CSV Data"
                                      ng-model="detail.dataString"
                                      server-error="detail.errors"></textarea>
                            
                        </div>
                        <div class="col-md-4" ng-non-bindable>            
                            CSV data, be sure anything with a ',' is quoted<br />
                            ex: "Smith, John",22,Green,Yellow
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                            <button class="btn-sm btn-default" v-database 
                                    data="detail.dataString" 
                                    database="detail.database"
                                >Database</button>
                            <button class="btn-sm btn-default" ng-click="clean()">Sorted Distinct List</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Format String</h3>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-md-8">
                            <textarea class="form-control" rows="4"
                                      name="formatString" id="formatString"
                                      placeholder="Format String"
                                      ng-model="detail.formatString"
                                      server-error="detail.errors"></textarea>
                        </div>            
                        <div class="col-md-4" ng-non-bindable>            
                            Any .Net Format String <i>should</i> Work, plus a few extra:<br />
                            {0:!} Friendly Name<br />
                            {0:^} Proper Case<br />
                            {#} 0 based row number<br />
                            {+} 1 based row number<br />
                            <br />
                            *double up the { and } characters in your format string <br />ex: public {0} {1} &#123;&#123; get; set; &#125;&#125;
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-1">
                    <button class="btn btn-primary" ng-click="format()">Format</button>
                </div>
            </div>
            <br />
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        
                        <div class="col-md-12">
                            <textarea class="form-control" rows="6"
                                      name="output" id="output"                          
                                      ng-model="detail.output"
                                ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="js/angular.min.js"> </script>

        <script src="js/ui-bootstrap-tpls-0.11.0.min.js"> </script>
        <script src="app/app.js"> </script>
        
        <!-- bundle will one day go here -->

        <script src=".\app\cleanFactory.js"> </script>
        <script src=".\app\databaseFactory.js"> </script>
        <script src=".\app\historyFactory.js"> </script>
        <script src=".\app\sessionFactory.js"> </script>
        <script src=".\app\stringFactory.js"> </script>
        <script src=".\app\testFactory.js"> </script>
        <script src=".\app\session\controller.js"> </script>
        <script src=".\app\string\controller.js"> </script>
        <script src=".\app\voodoo\ngReallyClick.js"> </script>
        <script src=".\app\voodoo\serverError.js"> </script>
        <script src=".\app\voodoo\voodoo.js"> </script>
        <script src=".\app\voodoo\voodooConfirm.js"> </script>
        <script src=".\app\voodoo\voodooDatabase.js"> </script>
        <script src=".\app\voodoo\voodooDatePicker.js"> </script>
        <script src=".\app\voodoo\voodooPager.js"> </script>
        <script src=".\app\voodoo\voodooServerError.js"> </script>
        <script src=".\app\voodoo\voodooSorter.js"> </script>
        <script src=".\app\voodoo\voodooUtility.js"> </script>





    </body>
</html>