.ng-cloak { display: none !important; }

.sortArrow { font-size: 50%; }

.grid th { padding: 0px 0px 0px 0px !important; }

.sorter {
    white-space: nowrap;
    width: 100%;
    margin: 0px 0px 0px 0px !important;
}